<div class="chat-body">
    <div class="message">
        <header>Kacho</header>
        <p>Test Message</p>
        <footer>17.00</footer>
    </div>
</div>
<div class="chat-input">
    <input type="text" />
    <button>Send</button>

</div>

